@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Agave';
  src: url('/font/Agave-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .prose :where(code, pre, kbd, samp) {
    @apply font-mono;
    font-family: Agave, Consolas, ui-monospace, SFMono-Regular, Menlo, monospace !important;
  }

  .prose :where(h1, h2, h3, h4, h5, h6, strong, b):not(:where(.not-prose, .not-prose *)) {
    @apply text-zinc-700 dark:text-zinc-50;
  }

  .prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *)) {
    @apply rounded bg-zinc-100 px-1 py-0.5 text-[0.9em] text-zinc-900 dark:bg-zinc-800 dark:text-zinc-100;
  }

  .prose :where(h1, h2, h3, h4, h5, h6):not(:where(.not-prose, .not-prose *)) {
    margin-bottom: 12px;
  }

  .prose :where(h1) {
    @apply text-4xl;
  }

  .prose :where(h2) {
    @apply text-[27px];
  }

  .prose :where(h3) {
    @apply text-[25px];
  }

  .prose :where(h4) {
    @apply text-[23px];
  }

  .prose :where(h5) {
    @apply text-[21px];
  }

  .prose :where(h6) {
    @apply text-[19px];
  }

  .prose :where(h2[id], h3[id], h4[id], h5[id], h6[id]) {
    @apply cursor-pointer scroll-mt-28;
  }

  .prose :where(h2[id], h3[id], h4[id], h5[id], h6[id]):hover {
    @apply underline decoration-zinc-300 underline-offset-4 dark:decoration-zinc-700;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  :where(h1, h2, h3, h4, h5, h6, strong, b) {
    color: rgb(63 63 70);
  }

  :where(.dark) :where(h1, h2, h3, h4, h5, h6, strong, b) {
    color: rgb(250 250 250);
  }

  body {
    @apply bg-zinc-50 text-zinc-900 antialiased dark:bg-zinc-950 dark:text-zinc-50;
  }

  a {
    @apply underline decoration-zinc-300 underline-offset-4 dark:decoration-zinc-700;
  }

  a:hover {
    @apply decoration-zinc-900 dark:decoration-zinc-200;
  }
}
